<div class="tt-options-screen">
    <div class="tt-side">
        <h1 class="tt-header--large">Teach a computer to play a card game</h1>
    </div>
    <div class="tt-side tt-message tt-message--welcome">
        <p>This is a simple demo of machine learning. You can train a bot how to play a Top Trumps-style card game.</p>
        <p>What shall we call your bot?</p>
        <form name="createBot" ng-submit="startBot()" class="tt-form--createbot">
            <input
				class="tt-input"
                type="text"
                name="input"
                ng-model="botname.text"
                ng-pattern="botname.word"
                ng-trim="false"
                ng-minlength=1
                ng-maxlength=32
                required/>
            <input
				class="tt-input"
                type="submit"
                id="submit"
                ng-disabled="!createBot.$valid"
                value="Submit" />
            <span class="error" ng-show="createBot.input.$error.pattern">You can only use letters and numbers in your bot's name</span>
        </form>
    </div>
    <div class="tt-about-link"><a href="#about">About this game</a></div>
</div>
