<div>
    <div ng-show="thinking"><strong>{{botname}}'s turn</strong></div>
    <div ng-show="thinking">Thinking...</div>
    <div ng-hide="thinking">
        <p>{{botname}} has chosen <strong>{{prediction.choice}}</strong></p>
    </div>
    <div ng-hide="thinking">
        <span ng-if="outcome === 1">
            You win
        </span>
        <span ng-if="outcome === 0">
            Draw. Keep your card.
        </span>
        <span ng-if="outcome === -1">
            You lose!
        </span>
        <button ng-disabled="learning" ng-click="drawCard()">Next card</button>
    </div>
</div>
