<div class="full-height">
  <div ng-show="loading">Loading...</div>
  <div ng-hide="loading" class="tt-side tt-side-player">
    <div class="tt-deck">
      <tt-card ng-repeat="card in decks.player" ng-class="{'tt-card-stacked' : $index > 0}" ng-style="{'top' : $index === 0 ? 0 : 180 + ((decks.computer.length-$index) * (130/decks.computer.length)) + 'px', 'right' : $index === 0 ? '20px' : 'initial'}" card-data="card" revealed="true" on-select-attribute="selectAttribute(key, value)"></tt-card>
      <div class="tt-score">{{ decks.computer.length }}</div>
    </div>
  </div>
  <div class="tt-side tt-side-computer">
    <div class="tt-deck">
      <tt-card ng-repeat="card in decks.computer" ng-class="{'tt-card-stacked' : $index > 0}" ng-style="{'top' : $index === 0 ? 0 : 180 + ((decks.computer.length-$index) * (130/decks.computer.length)) + 'px'}" card-data="card" revealed="show.computer && $index === 0"></tt-card>
      <div class="tt-score">{{ decks.computer.length }}</div>
    </div>
  </div>
</div>
